<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<div class="">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <button class="btn btn-primary" routerLink="/contact">Add a Contact</button>
        <ngx-datatable class="bootstrap" [rows]="rows" [columns]="columns" [columnMode]="'force'" [headerHeight]="40"
          [footerHeight]="40" [limit]="10" [rowHeight]="'auto'" [reorderable]="reorderable">
          <ngx-datatable-column prop="name" [width]="120">
              <ng-template let-column="column" ngx-datatable-header-template>
                  Name
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="email" [width]="250">
              <ng-template let-column="column" ngx-datatable-header-template>
                  Email
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="gender" [width]="120">
              <ng-template let-column="column" ngx-datatable-header-template>
                  Gender
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="amount" [width]="120">
              <ng-template let-column="column" ngx-datatable-header-template>
                  Amount
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="dob" [width]="120">
              <ng-template let-column="column" ngx-datatable-header-template>
                  Date of Birth
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value | date: 'MM/dd/yyyy'}}
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="id" [width]="200">
              <ng-template let-column="column" ngx-datatable-header-template>
                  
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                  <button class="btn btn-primary btn-sm" [routerLink]="'/view/contact/' + value">View</button>&nbsp;
                  <button class="btn btn-danger btn-sm" (click)="OnDelete(value)">Delete</button>
              </ng-template>
           
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
