<div style="text-align:center">
  <h1>
    {{contact.name}}
  </h1>
</div>

<div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">

        <button type="button" routerLink="/contacts" class="btn btn-primary">Back to Contacts</button>

        <div class="container">
          <hr>        
        <label class="h5">Name : </label> &nbsp;<label>{{contact.name}}</label>
        <hr>    
        <label class="h5">Email : </label> &nbsp;<label>{{contact.email}}</label>
        <hr>    
        <label class="h5">Gender : </label> &nbsp;<label>{{contact.gender}}</label>
        <hr>    
        <label class="h5">Date Of Birth : </label> &nbsp;<label>{{contact.dob  | date  }}</label>
        <hr>    
        <label class="h5">Amount : </label> &nbsp;<label>{{contact.amount}}</label>
        <hr>    
      </div>

      </div>
    </div>
  </div>
</div>
